@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Spectral:wght@600&display=swap');

body{
    margin: 0px;
    
}

nav{
    display: block;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    
}

.nav{
    background-color: rgba(39, 39, 39, 0.8);
    background-position: center;
    padding:1.8rem 1rem;
    border-bottom-left-radius: 1rem;
    color: aliceblue;
}

.brand{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 2px;
}


.middle{
    background-image:url("/images/838314.jpg");
    height: 1350px;
    width: auto;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    opacity: 0.95;
    max-width: 100%;
    margin-bottom: 0;
}
.middle-padding{
    padding-left:8rem ;
    padding-right:8rem;
}

.middle-box-first{
    display: block;
    height: 280px;
    width: auto;
    background-color: rgb(255, 255, 255,.3);
    box-shadow: 0 5px 20px rgba(0,0,0,.7);
    margin: 120px auto;
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: larger;
    padding: 4rem 1rem 0rem 1rem;
}
.strong{
    font-size: 1.4rem;
}

.middle-box-second{
    display: block;
    background-color: rgb(255, 255, 255,.3);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    height: 400px;
    width: auto;
    margin: 110px auto;
    border-radius: 1rem;
}

.txt-field{
    height: 50px;
    width: 90%;
    padding: 1rem;
    margin-top: 2rem ;
    background-color: rgb(240, 248, 255,1);
    border-radius: 1rem;
    font-family: 'Spectral', serif;
    font-size: larger;
    border-color: white;
    
}

.btnTranslate{
    height: 2rem;
    font-size: larger;
    border-radius: 0.4rem;
    background-image: linear-gradient(to right top, #0986b2, #229bbc, #40b0c4, #60c5cb, #80d9d2);
    margin-top: 1.3rem ;
    font-family: 'Spectral', serif;
    border-color: white;
}

.outputfield{
    height: 50px;
    width: auto;
    padding: 1rem;
    background-color: rgb(240, 248, 255,.7);
    border-radius: 1rem;
    margin-top:10px ;
    color: black;
    font-size: 1.4rem;
    font-family: 'Spectral', serif;
}

.link{
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin: auto;
    font-size: 1.3rem;
}

.footer{
    background-color: rgba(39, 39, 39, 0.8);
    color: honeydew;
    padding:1rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    margin-bottom: 0;
}
.footer-top{
    margin-top: 0.5rem;
    color: honeydew;
    padding:0rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-heading{
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    letter-spacing: 8px;
}

.footer-image{
    height:2rem;
    width: 2rem;
}